<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics-Fetcher</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Search for a song lyrics</h1>
    <input type="text" id="artist" placeholder="artist name">
    <input type="text" id="title" placeholder="song name">
    <button onclick="getLyrics()">search</button>

    <pre id="result"></pre>

</body>
</html>